<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesignup.css') }}">

</head>
<body>
    <div class="signup_box">
        <h1>Sign Up</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flash-messages">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('signup') }}">
            <div>
                <label for="name">First Name</label>
                <input type="text" id="name" name="username_sign" required>
            </div>

            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email_signup" required>
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password_signup" required>
            </div>

            <div>
                <label for="confirm">Confirm Password</label>
                <input type="password" id="confirm" name="password_conform" required>
            </div>

            <button type="submit">Sign Up</button>
            
            <a href="{{ url_for('home') }}" class="btn btn-secondary">Back to Main Page</a>
        </form>

        <p>By clicking the sign up button, you agree to our <br>
            <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>
        </p>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
    </div>
</body>
</html>