<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/stylemybooking.css">
</head>
<body>

    <h1 id="text">this is dashborde patient</h1>
    <div class="bookingbox">
        <h4 style="color: cadetblue;" style="margin-top: 100px;" style="padding-top: 50px;">My Booking</h4><br>
        
        <h4>name patient : <span id="name_patient">{{name_patient}}</span></h4><br>
        <h4>Age Patient : <span id="age_patient">{{age_patient}}</span></h4><br>
        <h4>Date: <span id="date">{{Date}}</span></h4><br>
    </div>


    
    
</body>
</html>