<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/stylemybooking.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    <h1 id="text">dashboard patient</h1>
    <a href="{{url_for('home')}}"><button class="btn btn-primary">Back</button></a>

    <form method="get" onsubmit="return false;">
        <table id="outputTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="text-align:center;">Id patient</th>
                    <th style="text-align:center;">number Appointment</th>
                    <th style="text-align:center;">Name Doctor</th>
                    <th style="text-align:center;">specialization</th>
                    <th style="text-align:center;">Name Patient</th>
                    <th style="text-align:center;">Age Patient</th>
                    <th style="text-align:center;">Time</th>
                    <th style="text-align:center;">Date</th>
                    <th style="text-align:center;">Actions</th>
                </tr>
            </thead>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr data-id="{{ appointment.NumberAppointment }}" >
                    <td id="IdPatient">{{ IdPatient }} </td>
                    <td id="appointment-{{ appointment.NumberAppointment }}">{{ appointment.NumberAppointment }}</td>
                    <td id="name_doctor">{{ appointment.name_doctor}}</td>
                    <td id="specialization"> {{ appointment.specialization}} </td>                   
                    <td id="name_patient">{{ appointment.name_patient }}</td>
                    <td id="age_patient">{{ appointment.age_patient }}</td>
                    <td class="date-column">{{ appointment.Date.day }} {{ appointment.Date.month }}, {{
                        appointment.Date.year }}</td>
                    <td class="time-column">{{ appointment.Time.Hour }}:{{ appointment.Time.Minute }}</td>
                    <td style="text-align:center;">
                        <button class="save">Save</button>
                        <button type="button" class="edit btn btn-success" id="buttonEDit"
                            data-id="{{ appointment.NumberAppointment }}">Edit</button>
                        <button type="button"  class="delete btn btn-danger" id="buttonDELET" appointment_id="{{appointment.NumberAppointment}}" onclick="removerow(this)" >Delete</button>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="7" class="text-center">No appointments found.</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </form>



    <div class="button-container" >
        <button id="AddButton" type="button" class="btn btn-success" >Add new</button>
    </div>


    <div class="model" id="modal">
        <div class="model-header">
            <span class="title">New Booking</span>
            <button class="close-button" onclick="hideModal()">&times;</button>
        </div>
        <form id="booking" method="POST" action="/veiw_booking" data-id="{{IdPatient}}">

            <div class="model-body">
                <input name="patientname" id="newname_patient" type="text" placeholder="Please Enter name patient" required>
                <br><br>
                <input name="patientage" id="newage_patient" type="text" placeholder="Please Enter age patient" required>

                <br><br>
                <input name="date" id="cal" type="datetime-local" onclick="showCal()">

                <div class="text-center">
                    <button  type="submit" class="btn btn-danger" id="newbooking_button" >Confirm Booking</button>
                </div>
            </div>
        </form>
    </div>


    <div class="model" id="modaledit">
        <div class="model-header">
            <span class="title">Edit Booking</span>
            <button class="close-button" onclick="hideModaledit()">&times;</button>
            <form id="booking">
                <div class="model-body">

                    <input name=date id="caledit" type="datetime-local" onclick="showCal()">

                    <div class="text-center">
                        <button type="submit" class="btn btn-danger" id="confermEdit">Confirm Edite</button>
                    </div>
                </div>

            </form>

        </div>

    </div>




    <div id="overlay" class="overlay"></div>
 

    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/Edit.js"></script>


</body>

</html>